.board{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15%;
}
.exam{
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
}
.marking{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 36%;
}
.cantype{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 33%;
}
.main{
    border: 1px solid black;
    height: 260px;
    width: 75%;
    margin: 5%;
    margin-top: 0%;
}
.idimg{
    height: 32%;
    width: 10%;
    position: absolute;
    top: 25%;
    right: 25%;
}
.one{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 15%;
    font-size: 20px;
    left: 16%;
}
.two{
    background-color: yellowgreen;
    margin: 5%;
    position: absolute;
    top: 20%;
    font-size: 20px;
    left: 11%;
    margin-left: 0%;
}
.three{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 25%;
    font-size: 20px;
    left: 18%;
}
.four{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    left: 17%;
}
.five{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 35%;
    left: 8.5%;
    font-size: 20px;
}
.six{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 40%;
    font-size: 20px;
    left: 11%;
}
.seven{
    background-color: yellowgreen;
    margin: 5%;
    margin-left: 0%;
    position: absolute;
    top: 45%;
    font-size: 20px;
    left: 17.2%;
}

.cname{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 15%;
    left: 23%;
    background-color: aqua;
}
.cfname{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 20%;
    left: 23%;
    background-color: aqua;
}
.cdob{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 25%;
    left: 23%;
    background-color: aqua;
}
.csno{

    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 30%;
    left: 23%;
    background-color: aqua;
}
.cexamcen{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 35%;
    left: 23%;
    background-color: aqua;
}
.cschool{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 40%;
    left: 23%;
    background-color: aqua;
}
.cgroup{
    font-size: 20px;
    margin-left: 30%;
    margin: 5%;
    position: absolute;
    top: 45%;
    left: 23%;
    background-color: aqua;
}
.markBox{
    border: 1px solid black;
}